*{
  font-family: "Cairo", Arial, "Helvetica Neue", Helvetica, serif;
}
body {
  overflow-x: hidden;
  color: #212226;
  
}
.section-gray{
  background-color: #eee;
}

p{
  line-height: 1.6;
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: rgb(226, 241, 10) 3px solid;
}
.bg-dark{
  background-color: transparent !important;
}

.trn{
  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));
}
.carousel-item {
  height: 780px;
}

.carousel-image-1 {
  /* background: url('../img/DJI_0584.jpg'); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/DJI_0584.jpg');
  background-size: cover;
  
}

.carousel-image-2 {
  /* background: url('../img/DJI_0586.jpg'); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/DJI_0586.jpg');
  background-size: cover;
}

.carousel-image-3 {
  /* background: url('../img/F71A7112.jpg'); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/F71A7112.jpg');
  background-size: cover;
  background-position: 50% 50%;
}
.btn-carousel{
  color: #fff;
  border: 1px solid #fff;
}
#msg{
  padding-top: 4.5rem!important;
}
.btn-home {
  color: rgb(7, 1, 1);
  border: 1px solid #fff;
}
.btn-home:hover,
.btn-home:focus {
  color: #fff;
  background-color: #f4c613;
  border: 1px solid #f4c613;
}

#home-heading {
  position: relative;
  top: 30px;
  min-height: 500px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  line-height: 1.6;
  padding: 80px 0;
}
.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,0.15);
  background-color: #fff;
  color: #333;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border: 0 none;
  transition: transform 300ms cubic-bezier(0.34,2,0.6,1),box-shadow 200ms ease;
}
.card .card-body {
  padding: 20px;
}
.card .card-body .card-title {
  margin: 5px 0 0 0;
}
.card-title{
  color: #333;
    text-decoration: none;
}
.card.card-blog {
  margin-top: 5px;
}
.card.card:not(.card-plain) .card-image .img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 12px 12px 0 0;
}
.card.card-blog .card-image .img, .card.card-testimonial .card-description+.card-title .card-image .img {
  border-radius: 12px;
}
.card .card-description {
  color: #9a9a9a;
  margin-bottom: 5px;
  margin-top: 15px;
}
.card .card-body .card-footer {
  padding: 0;
}
.card .stats {
  display: inline-block;
  float: left;
  color: #9a9a9a;
  font-size: 12px;
  margin-top: 6px;
}
hr {
  border-color: #f1eae0;
}
/* #video-play {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
} */

#ye {
  animation-duration: 2s;
  animation-delay: 0.5s;
  /* animation-iteration-count: infinite; */
}
#video-play a {
  color: #fff;
}

#page-header {
  height: 450px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/DJI_0584.jpg');
  /* background-position: 0 -360px; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
  /* background-attachment: fixed; */
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 250px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

#main-footer {
  background: #000;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  #home-heading {
    min-height: 800px;
  }
}
/* Static */
#stats {
  background: url("../img/stats/stats-bg.jpg") no-repeat fixed center;
  background-size: cover;
}

#stats .content-box-md {
  background: rgba(0, 0, 0, 0.8);
}

#stats .vertical-heading {
  margin-bottom: 50px;
}

#stats .vertical-heading h2 {
  color: #fff;
}

.stats-item {
  background: rgba(61, 68, 68, 0.6);
  border-radius: 4px;
  min-height: 170px;
  padding: 25px 50px;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.stats-item i {
  font-size: 42px;
  color: #f4c613;
  margin: 0 0 6px 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.stats-item h3 {
  font-size: 32px;
  color: #fff;
  margin: 5px 0 5px 0;
}

.stats-item p {
  color: #fff;
  margin: 0;
  font-size: 20px;
}

.stats-item:hover {
  background: #f4c613;
}

.stats-item:hover i {
  color: #212226;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

/* End Static */

